<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome WebMedic!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.css') }}" />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script type="application/javascript" src="{{ asset('assets/vendor/jquery-3.3.1.min.js') }}"></script>
            <script type="application/javascript" src="{{ asset('assets/vendor/jquery.slim.min.js') }}"></script>
            <script type="application/javascript" src="{{ asset('assets/vendor/popper.min.js') }}"></script>
            <script type="application/javascript" src="{{ asset('assets/vendor/bootstrap/js/bootstrap.js') }}"></script>
            <script type="application/javascript" src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
