{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Felhasználó</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Azonosító</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Név</th>
                <td>{{ user.userName }}</td>
            </tr>
            <tr>
                <th>Telefonszám</th>
                <td>{{ user.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Létrehozva</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Szerepkörök</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}" class="btn btn-outline-secondary float-left mx-1">Vissza</a>
    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-outline-warning float-left mx-1">Szerkesztés</a>
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
